{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">All Courses</h2>

<div class="row">
{% for course in courses %}
  <div class="col-md-4">
    <div class="card mb-3 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">{{ course.title }}</h5>
        <p class="card-text">{{ course.short_description }}</p>
        <a href="/courses/{{course.id}}/" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
